.adventure{
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 3rem;
}
.you{ 
    padding: 0.75rem;
}
.sit{ 
    padding: 0.75rem;
}
.carro{
    width: 100%;
    height: auto;
}
.MTS { 
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #E4C6C4;
}
.bmw{ 
    padding: 0.75rem;
    }
.amet{ 
padding: 0.75rem;
}
.MT8{ 
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: row;
    display: flex;
}
.mileage{ 
    padding: 0.75rem;
}
.interior{ 
    padding: 0.75rem;
}
.gear{ 
    padding: 0.75rem;
}
.rims{ 
    padding: 0.75rem;
}