.why{
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 3rem;
   
}
.icono{
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 2rem;
    flex-direction: row;
    display: flex;
}
.registered {
    width: 50%;
    height: 30%;
}
.customers{
    width: 40%;
    height: 20%;
   
}
.ride {
    width: 40%;
    height: 20%;
    float: right;
}
.place{
    width: 50%;
    height: 50%;
   
}
.iconos{
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 1rem;
    flex-direction: row;
    display: flex;
}
.experienced{
    width: 50%;
    height: 30%;
}
.care{
    width: 50%;
    height: 30%;
}
.ready {
    width: 50%;
    height: 30%;
    float: right;
}
.medical{
    width: 30%;
    height: 10%;
}
.carro_azul {
    width: 100%;
    height: auto;
}
.hrf{
    margin-top: 2rem;
}
.now{
    width: auto;
    padding: 1rem;
    border-radius: 10%;
    background-color: #ACEFF8;
}
    
   